
.top-bar-cargo, .top-bar-cargo ul {
  background-color: #2980b9;
}

.text-branch {
  color: #d5e2eb;
}

.menu-cargo li a{
  color: #d5e2eb;
}

.footer {
  background-color: #2980b9;
  padding: 2rem 3rem;
  color: #fff;
}

.footer p, .footer a {
  color: #a1b8fa;
  font-size: 1.0em;
  font-style: italic;
  font-weight: 700;
}
