{% extends "home/base_home.html" %}

{% block title %}Index{% endblock %}

{% block content %}
  {% include "includes/header.html" %}


<form method="post">
  {% csrf_token %}
  {{form}}
  {{form2}}
  {{form3}}
  <div class="row">
    <div class="medium-3 columns large-offset-6">
      <label>Serie :
        {{form2.serie}}
      </label>
    </div>
    <div class="medium-3 columns">
      <label>Numero :
        {{form2.numero}}
      </label>
    </div>
  </div>

  <div class="row">
    <div class="medium-5 columns">
      <label>RUC :
        {{ form3.ruc}}
      </label>
    </div>
    <div class="medium-3 columns">
      <label>FECHA:
        {{ form2.date }}
      </label>
    </div>
  </div>


<div class="row">
  <div class="medium-6 columns">
    <label>RAZOL SOCIAL :
      {{ form3.razon_social }}
    </label>
  </div>
  <div class="medium-6 columns">
    <label>DIRECCION :
      {{ form3.address }}
    </label>
  </div>
</div>

<div class="row">
  <div class="medium-10 columns">
    <label>
      Ingresa los Detalles
      {{ form.service }}
    </label>
  </div>
  <div class="medium-2 columns">
    <label>
      Monto
      <input type="text" placeholder="monto">
    </label>
  </div>
</div>

<div class="row">
    <div class="medium-2 columns">
      <label>
        Sub total S/.
        <input type="text" placeholder="monto">
      </label>
    </div>
    <div class="medium-2 columns">
      <label>
        I.G.V. S/.
        <input type="text" placeholder="monto">
      </label>
    </div>
    <div class="medium-2 columns">
      <label>
        MONTO TOTAL S/.
        {{ form2.amount }}
      </label>
    </div>
    <div class="medium-2 columns">
      <button type="submit" class="success button">Guardar</button>
    </div>
</div>

</form>
  {% include "includes/footer.html" %}
{% endblock %}
