{% extends "home/base_home.html" %}

{% block title %}Index{% endblock %}

{% block content %}


<form method="post">
  {% csrf_token %}
  <div class="row">
    <div class="medium-3 large-offset-6 columns">
      <label>Serie:
        <input type="text" name="name" value="{{object.serie}}" disabled="true">
      </label>
    </div>
      <div class="medium-3 columns">
        <label>Numero:
          <input type="text" name="name" value="{{object.numero}}" disabled="true">
        </label>
      </div>
  </div>

  <div class="row">
    <div class="medium-5 columns">
      <label>RUC :
        {{ form2.ruc}}
      </label>
      {% for error in form2.ruc.errors %}
        <div class="col-xs-12">
          <p class="help-text error-field">
              {{ error|escape }}
          </p>
        </div>
      {% endfor %}
    </div>
    <div class="medium-3 columns">
      <label>FECHA:
        <input type="text" name="name" value="{{object.date}}" disabled="true">

    </div>
  </div>


<div class="row">
  <div class="medium-6 columns">
    <label>RAZOL SOCIAL :
      {{ form2.razon_social }}
    </label>
    {% for error in form2.razon_social.errors %}
      <div class="col-xs-12">
        <p class="help-text error-field">
            {{ error|escape }}
        </p>
      </div>
    {% endfor %}
  </div>
  <div class="medium-6 columns">
    <label>DIRECCION :
      {{ form2.address }}
    </label>
    {% for error in form2.address.errors %}
      <div class="col-xs-12">
        <p class="help-text error-field">
            {{ error|escape }}
        </p>
      </div>
    {% endfor %}
  </div>
</div>

<div class="row">
  <div class="medium-10 columns">
    <label>
      Ingresa los Detalles
      {{ form3.service }}
    </label>
    {% for error in form3.service.errors %}
      <div class="col-xs-12">
        <p class="help-text error-field">
            {{ error|escape }}
        </p>
      </div>
    {% endfor %}
  </div>
  <div class="medium-2 columns">
    <label>
      Monto:
      <input type="text" name="name" value="{{object.amount}}" disabled="true">
    </label>
    {% for error in form.amount.errors %}
      <div class="col-xs-12">
        <p class="help-text error-field">
            {{ error|escape }}
        </p>
      </div>
    {% endfor %}
  </div>
</div>

<div class="row">
  <div class="medium-10 columns">
    <label>
      Anular
      {{ form.anulate }}
    </label>
    {% for error in form.anulate.errors %}
      <div class="col-xs-12">
        <p class="help-text error-field">
            {{ error|escape }}
        </p>
      </div>
    {% endfor %}
  </div>
</div>

<div class="row">
    <div class="medium-2 columns">
      {% if object.anulate == False %}
          <button type="submit" class="success button">Guardar</button>
      {% endif %}
    </div>
</div>

</form>
{% endblock %}
